# Configurações do GitHub OAuth2
SOCIAL_AUTH_GITHUB_KEY=seu_client_id_aqui
SOCIAL_AUTH_GITHUB_SECRET=seu_client_secret_aqui

# Configurações do Mailtrap (SMTP)
MAILTRAP_USER=555d4b9b368ee6
MAILTRAP_PASSWORD=130272fcfed9aa

# Django Secret Key
SECRET_KEY=django-insecure-sua-chave-aqui
